# The unit tests make use of the data populated in these databases.
#
# Notes:
# - The database identifiers (e.g. "fiveruns_city_austin_test_master") MUST NOT
#   be changed! Everything else may be changed.
# - The user defined for "fiveruns_city_austin_test_master" MUST have the
#   privilege to create and drop databases and tables.


fiveruns_city_austin_test_master:
  adapter: mysql
  host: localhost
  database: vr_austin_master
  username: root
  password:

fiveruns_city_austin_test_slave:
  adapter: mysql
  host: localhost
  database: vr_austin_slave
  username: root
  password:

fiveruns_city_dallas_test_master:
  adapter: mysql
  host: localhost
  database: vr_dallas_master
  username: root
  password:

fiveruns_city_dallas_test_slave:
  adapter: mysql
  host: localhost
  database: vr_dallas_slave
  username: root
  password:
